@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2c2c2c;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: white;
  font-size: 15vw;
  margin: 0;
}

h2 {
  padding-left: 0.2em;
  margin: 0.2em 0 0 0;
  font-size: 8vw;
  padding-bottom: 1px;
  display: inline-block;
  border-bottom: 8px solid #b71c1c;
}

h3 {
  margin: 0;
  font-size: 5em;
  padding-bottom: 1px;
  display: inline-block;
  border-bottom: 8px solid #b71c1c;
}

h4 {
  margin: 2em;
}

h5 {
  margin: 1em;
  font-weight: 400;
}

h6 {
  font-size: 2em;
  color: inherit;
}

p {
  font-size: 1.5em;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  height: 95px;
  padding: 0 1em;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  width: 100vw;
  max-width: 100%;
  min-height: fit-content;
  left: 0;
  top: 0;
  margin-bottom: 5em;
  z-index: 2;
}

main {
  padding-top: 5em;
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  /* position: relative; */
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 50vh;
  width: 100vw;

  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  flex-wrap: wrap;
  background-size: cover;
}

.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.static {
  z-index: 1;
  background-color: #2c2c2c;
  position: relative;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.19), inset 0 0 6px rgba(0,0,0,0.23);
}

.cover {
  text-align: center;
}

.cover:hover .cover-image, .cover a:focus .cover-image {
  transform: scale(1.01);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cover:hover .cover-text, .cover a:focus .cover-image {
  transform: translateY(0.05em);
}

.cover-image {
  transition-property: transform, box-shadow;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(.25,.8,.25,1);
  min-width: 300px;
  min-height: 300px;
  width: 30vw;
  height: 30vw;
  margin: 1em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.heavy-shadow {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.weak-shadow {
  box-shadow: 0 0 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}

.artist {
  margin: 5em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.credit:hover, .credit:focus {
  color: #80deea
}

.above {
  z-index: 1;
  position: relative;
}

.hidden {
  position: absolute;
  left: -200vw;
}

ul {
  list-style: none;
}

button.theme {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 50%;
  transition: box-shadow 0.2s cubic-bezier(.25,.8,.25,1);
  width: 3em;
  height: 3em;
  margin: 0.5em;
  cursor: pointer;
  padding: 1em;
}

button.theme:hover, button.theme:focus {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: box-shadow 0.2s cubic-bezier(.25,.8,.25,1);
}

button.theme.dark {
  background-color: #2c2c2c;
  border: 1px solid white;
}

button.theme.light {
  background-color: white;
  border: 1px solid #2c2c2c;
}

.Icon svg {
  transition: fill 0.08s ease-in;
}

img {
  transition: opacity 0.08s ease-in;
}